<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunland Fashions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


</head>
<body>
    <header class="row">
        <div class="col-md-4">
            <nav class="navbar navbar-light navbar-expand-md bg-light fixed-top">
                <a href="" class="navbar-brand ps-4">
                    <img src="../static/images/Logo.jpeg" alt="" width="50%">
                </a>
                <button type="button" class="navbar-toggler me-2" data-bs-target ="#mynav"
                data-bs-toggle="collapse">
                Menu
            </button>
                <div class="collapse navbar-collapse" id="mynav">
                    <div class="navbar nav-ms-2">
                        <a href="/login" class="nav-link">Log in</a>/
                        <br><br>
                        <a href="/signup" class="nav-link">Sign Up</a>/
                        <br><br>
                        <a href="/order" class="nav-link">Order</a>/
                        <br><br>
                        <a href="/viewcustomers" class="nav-link">View customers</a>
                     
                 </div>
             </div>
         </header>
         <br><br><br><br><br><br>
             <div class="container">
               <section class="row">
                 <div class="col-md-12">
                     <img src="../static/images/welcome.png" alt="" width="100%">
               </div>
               <br><br>
               <section class="row">
                <div class="col-md-4">
                    <div class="card shadow">
                            <img src="../static/images/more exquisitive cloting.jpeg" alt="" class="img-thumbnail">
                                <div class="card-body">
                                    <h3 style="color: darkblue;">Available for you</h3>
                                   </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    <div class="card shadow">
                        <img src="../static/images/the internet of clothings.png " alt="" class="img-thumbnail">
                            <div class="card-body">
                               <h3 style="color: darkblue;">The best clothing site</h3>
                            </div>
                    </div>
                   </div>
                <div class="col-md-4">
                    <div class="card shadow">
                        <img src="../static/images/showcase.png" alt="" class="img-thumbnail">
                            <div class="card-body">
                                <h3 style="color: darkblue;"> Showcase your clothes</h3>
                              </div>
                    </div>
                </div>
             </section>
             <br><br><br>
             <section class="row">
               
                <div class="col-md-4">
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> Available in indefinite sizes, small, large and extra-large, with fabrics ranging from khadi to nylon and cotton to silk, Clothes are one of the Indispensable necessities for the survival of humankind, which defies any classification pertaining to richness or age. Right from the Stone Age, clothes have served their basic primary purpose of providing protection from the negative effects of the environs, namely heat and cold, dust and rain, although the pre- historic apparels were an animal’s.</p>
                </div>
                <div class="col-md-4">
                   
                    <P style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> As you begin layering clothing descriptions with more specificity, be conscious of what you’re revealing about style, historical setting and personality. Tightly laced bodices and flowing gowns may instantly put readers in medieval times or in Victorian England. Tie-dye shirts and bell-bottoms will likely orient readers in the 1960s. Use clothing style to reveal not only historical periods, but your character’s personality traits. If your protagonist is a laid-back Californian.</P>
                </div>
                <div class="col-md-4">
                    
                    <P style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Clothing is one of our basic needs. Man has been using clothes since time immemorial. Right from the Stone Age, man is trying to cover his body and has been using grass, leaves, tree bark, animal skin, etc.Gradually with the advancement of civilisation, man learnt the art of weaving natural fibres. Till date, there is gradual development in the art of cloth making.Most probably, the first response is that man wears clothes for modesty and social prestige. But now clothes have become an integral part.</P>
                </div>
            </section>
            <br><br>
            <section class="row">
                <div class="col-md-12">
                    <div id="myslide" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <img src="../static/images/lady.jpeg" alt="" width="100%">
                            </div>
                            <div class="carousel-item active">
                                <img src="../static/images/my.jpeg" alt="" width="100%">
                            </div>
                            <div class="carousel-item">
                                <img src="../static/images/things to consider.jpeg" alt="" width="100%">
                            </div>
                            <div class="carousel-item">
                                <img src="../static/images/what to.jpeg" alt="" width="100%">
                            </div>
                        </div>
                     <a href="#myslide" class="carousel-control-prev" data-bs-slide="prev">
                            <img src="../static/images/back.jpeg" alt="" width="50%">
                        </a>
                        <a href="#myslide" class="carousel-control-next" data-bs-slide="next">
                            <img src="../static/images/foward2.jpeg" alt="" width="50%">
                        </a>
                    </div>
                </div>
                </section>
           </div>
           <br><br>
           <footer class="row">
            <div class="col-md-12 p-3 bg-dark text-white text-center">
                <b>Sunland Fashions</b>
                <I>Customer care: +2548997**9/+2547899*54</I><br>
                <u>Developed by Kelvin</u>
    
            </div>
    
    
        </footer>
      
    
</body>
</html>