<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunland Fashions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</head>
<body>
   
    <a href="/" class="btn btn-dark btn-sm">Home page</a>
    <br><br>
    <h4>This are the registerd customers</h4>
    <div class="container">
        {{message}}
        <!-- we take each row in rows a time -->
        <!-- take each row as a tuple -->
        {% for row in rows%}
             <h3>Customer ID :{{row[0]}}</h3>
             <br>
                Name:<b>{{row[1]}}</b>
                <br>
                Email  <b>{{row[2]}}</b>
                <br>
                Phone Number: <i>{{row[3]}}</i>
                <br>
                Order ID: <i>{{row[4]}}</i>
                <br>
                  
                  <br>
        {% endfor  %}

    </div>
    <br>
    <footer class="row">
        <div class="col-md-12 p-3 bg-dark text-white text-center">
            <b>Sunland Fashions</b>
            <I>Customer care: +2548997**9/+2547899*54</I><br>
            <u>Developed by Kelvin</u>

        </div>
    
</body>
</html>